In [1]:
import pandas as pd

In [5]:
animals=['tiger','bear','mouse']
s=pd.Series(animals)
s

0    tiger
1     bear
2    mouse
dtype: object

In [6]:
s.index

RangeIndex(start=0, stop=3, step=1)

In [7]:
print(s.name)

None

In [8]:
s.name='Animals'

In [9]:
s.name

'Animals'

In [10]:
s

0    tiger
1     bear
2    mouse
Name: Animals, dtype: object

In [11]:
numbers=[1,2,3]
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [12]:
animals=['tiger','bear',None]
pd.Series(animals)

0    tiger
1     bear
2     None
dtype: object

In [13]:
numbers=[1,2,None]
pd.Series(numbers)

0    1.0
1    2.0
2    NaN
dtype: float64

In [14]:
import numpy as np
np.nan==None

False

In [15]:
np.NaN==None

False

In [16]:
np.nan==np.nan

False

In [17]:
np.isnan(np.nan)

True

In [21]:
sports={'Archery':'Bhutan','Golf':'Scotland','Sumo':'Japan','Taekwondo':'South korea'}
s=pd.Series(sports)
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South korea
dtype: object

In [22]:
s.index

Index(['Archery', 'Golf', 'Sumo', 'Taekwondo'], dtype='object')

In [23]:
s=pd.Series(['Tiger','Bear','Mouse'],index=['India','America','England'])
s

India      Tiger
America     Bear
England    Mouse
dtype: object

In [24]:
sports={'Archery':'Bhutan','Golf':'Scotland','Sumo':'Japan','Taekwondo':'South korea'}
s=pd.Series(sports,index=['Golf','Sumo','Hockey'])
s

Golf      Scotland
Sumo         Japan
Hockey         NaN
dtype: object

## Querying a Series

In [26]:
sports={'Archery':'Bhutan','Golf':'Scotland','Sumo':'Japan','Taekwondo':'South korea'}
s=pd.Series(sports)
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South korea
dtype: object

In [27]:
s.iloc[3]

'South korea'

In [31]:
s.loc['Golf']

'Scotland'

In [32]:
s[3]

'South korea'

In [33]:
s['Golf']

'Scotland'

In [3]:
import pandas as pd
sports={99:'bhutan',100:'scotland',101:'japan',102:'south korea'}
s=pd.Series(sports)

In [4]:
s.iloc[0]

'bhutan'

In [5]:
s.loc[100]

'scotland'

In [7]:
s[0]

KeyError: 0

In [8]:
s=pd.Series([100.00,120.00,101.00,3.00])
s

0    100.0
1    120.0
2    101.0
3      3.0
dtype: float64

In [9]:
for each in s:
    print(each)

100.0
120.0
101.0
3.0

In [10]:
s=pd.Series([100.00,120.00,101.00,3.00])

In [11]:
import numpy as np
total=np.sum(s)
print(total)

324.0

In [14]:
s=pd.Series([100.00,120.00,101.00,3.00])
k=0
for each in s:
    k+=each
print(k)

324.0

In [17]:
np.random.randint(0,1000,10000)

array([632, 179, 889, ..., 330, 234, 964])

In [18]:
s=pd.Series(np.random.randint(0,1000,10000))
s.head()

0      7
1    392
2    555
3    979
4    889
dtype: int32

In [19]:
%%timeit -n 5
summary=0
for item in s:
    summary+=item

1.98 ms ± 592 µs per loop (mean ± std. dev. of 7 runs, 5 loops each)

In [20]:
%%timeit -n 5
summary=np.sum(s)

The slowest run took 4.41 times longer than the fastest. This could mean that an intermediate result is being cached.
206 µs ± 134 µs per loop (mean ± std. dev. of 7 runs, 5 loops each)

In [21]:
s.head()

0      7
1    392
2    555
3    979
4    889
dtype: int32

In [23]:
s+=2
s.head()

0     11
1    396
2    559
3    983
4    893
dtype: int32

In [24]:
for label,value in s.iteritems():
    s.set_value(label,value+2)
s.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

0     13
1    398
2    561
3    985
4    895
dtype: int32

In [26]:
s.set_value(0,900)
s.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  """Entry point for launching an IPython kernel.

0    900
1    398
2    561
3    985
4    895
dtype: int32

In [29]:
%%timeit -n 1
s=pd.Series(np.random.randint(0,1000,10000))
for label,value in s.iteritems():
    s.loc[label]=value+2

4.42 s ± 260 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [30]:
%%timeit -n 1
s=pd.Series(np.random.randint(0,1000,10000))
s+=2

844 µs ± 171 µs per loop (mean ± std. dev. of 7 runs, 1 loop each)