python
*python* 
**python**
* python
    * python
        * python

<img src="images.png">

<img src="images.png" style="width=200px;height=400px">

In [4]:
print("keerthi surekha")

keerthi surekha

In [6]:
print("keerthi surekha",end=" ")
print("cse")

keerthi surekha cse

In [7]:
a=511

In [8]:
type(a)

int

In [9]:
a=int(input("enter lower limit"))
b=int(input("enter upper limit"))
for i in range(a,b+1):
    print(i)

enter lower limit1
enter upper limit10
1
2
3
4
5
6
7
8
9
10

In [10]:
10//3

3

In [11]:
int(10/3)

3

In [12]:
2**3

8

In [13]:
pow(4,2)

16

## Relational operators

In [15]:
2  == 3

False

In [16]:
2 != 3

True

In [17]:
a,b,c=1,2,3

In [18]:
a

1

In [19]:
a,b,c

(1, 2, 3)

In [20]:
a,b=1,2,3

ValueError: too many values to unpack (expected 2)

In [21]:
0 and 2

0

In [22]:
3 and 2

2

In [23]:
2 and 0

0

In [24]:
1 or 4

1

In [25]:
0 or 2

2

In [26]:
3 or 5 and 6

3

# bitwise operators

In [28]:
7 & 4

4

In [29]:
bin(4)

'0b100'

In [30]:
int(100)

100

In [31]:
int(0b100)

4

In [32]:
8 << 1

16

In [33]:
8 << 2

32

In [34]:
8 << 3

64

In [35]:
8 >> 1

4

In [36]:
8 >> 2

2

In [37]:
8 >> 3

1

# identity operators

In [38]:
2 is 2

True

In [39]:
2 is 3

False

In [40]:
2 is not 3

True

# membership operators

In [41]:
"ke" in "keerthi"

True

In [42]:
"su" in "keerthi"

False

In [43]:
"su" not in "keerthi"

True

In [ ]:
a=int(input("enter the number"))
if a>=0:
    print("positive")
else:
    print("negative")

In [ ]:
a=int(input("enter the year"))
if a%4==0 or (a%400==0 and a%100!=0):
     print("leap year")
else:
    print("not leap year")

In [ ]:
a=int(input("enter the number"))
if 1000%a==0:
    print("factor")
else:
    print("not a factor")

In [53]:
num=int(input("enter the number"))
print(len(str(num)))

enter the number1234
4

In [ ]:
a=1234
b=str(a)
b

In [ ]:
a=200
b=536
c=145
d=221
if a>b and a>c and a>d:
    print("a is big")
elif b>a and b>c and b>d:
    print("b is big")
elif c>a and c>b and c>d:
    print("c is big")
else:
    print("d id big")

In [ ]:
a=int(input("enter the  number"))
if(a>76):
    print("distinction and first class")
elif(a>50):
    print("second class")
elif(a>35):
    print("pass")
else:
    print("fail")

In [4]:
a=int(input("enter a value"))
b=int(input("enter b value"))
c=int(input("enter c value"))
if a==b==c:
    print(a)
elif a!=b!=c:
    print(a+b+c) 
elif a==b!=c: 
    print(c)
elif a!=b==c:
    print(a)
else:
    print(b)

enter a value12
enter b value13
enter c value13
12

In [6]:
for i in 1,2,3:
    print(i)

1
2
3

In [7]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [8]:
for i in range(1,6,2):
    print(i)

1
3
5

In [9]:
for i in range(1,7,3):
    print(i)

1
4

In [11]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [13]:
s="apssdc"
for char in s:
    print(char)

a
p
s
s
d
c

In [15]:
s="apssdc"
for i in range(len(s)):
    print(s[i])

a
p
s
s
d
c

In [4]:
s="apssdc"
for i in range(len(s)-1,-1,-1):
    print(s[i],end="\t")

c	d	s	s	p	a

In [8]:
for i in range(65,91):
    print(chr(i),end='\t')

A	B	C	D	E	F	G	H	I	J	K	L	M	N	O	P	Q	R	S	T	U	V	W	X	Y	Z

In [9]:
chr(65)

'A'

In [13]:
for i in range(65,91):
    if chr(i)=='S':
        break
    print(chr(i),end='')

ABCDEFGHIJKLMNOPQR

In [14]:
for i in range(65,91):
    if chr(i)=='S':
        continue
    print(chr(i),end='')

ABCDEFGHIJKLMNOPQRTUVWXYZ

In [1]:
i=1
while(i<=5):
    print(i)
    i+=1
i

1
2
3
4
5

6

In [7]:
i=1
t=2
while(i<=10):
    print(t,"*",i,"=",t*i)
    i+=1

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [11]:
a=5
fact=1
for i in range(1,a+1):
    fact=fact*i
print(fact)

120