### List comprehension

### [item loop condtion]

In [1]:
[1 for i in range(10)]

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [2]:
[i for i in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
[i*i for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [6]:
[i for i in range(1,11) if i%2==0]

[2, 4, 6, 8, 10]

### filter data percentage>=60

In [12]:
students=[['sai',70],['ram',30],['lakshmi',60]]
[student for student in students if student[1]>=60]

[['sai', 70], ['lakshmi', 60]]

### filter data percentage>=60  and backlog<=1

In [14]:
students=[['sai',70,1],['ram',30,2],['lakshmi',60,3]]
[student for student in students if (student[1]>=60 and student[2]<=1)]

[['sai', 70, 1]]

In [15]:
[each+item for each in range(3) for item in range(3)]

[0, 1, 2, 1, 2, 3, 2, 3, 4]

### x^2+y^2=z^2

In [19]:
[(x,y,z) for x in range(1,31) for y in range(x,31) for z in range(y,31) if (x**2+y**2==z**2)]

[(3, 4, 5),
 (5, 12, 13),
 (6, 8, 10),
 (7, 24, 25),
 (8, 15, 17),
 (9, 12, 15),
 (10, 24, 26),
 (12, 16, 20),
 (15, 20, 25),
 (18, 24, 30),
 (20, 21, 29)]

### create two digit roll number with numbers 0 to 9

In [38]:
[str(x)+str(y) for x in range(10) for y in range(10)]

['00',
 '01',
 '02',
 '03',
 '04',
 '05',
 '06',
 '07',
 '08',
 '09',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33',
 '34',
 '35',
 '36',
 '37',
 '38',
 '39',
 '40',
 '41',
 '42',
 '43',
 '44',
 '45',
 '46',
 '47',
 '48',
 '49',
 '50',
 '51',
 '52',
 '53',
 '54',
 '55',
 '56',
 '57',
 '58',
 '59',
 '60',
 '61',
 '62',
 '63',
 '64',
 '65',
 '66',
 '67',
 '68',
 '69',
 '70',
 '71',
 '72',
 '73',
 '74',
 '75',
 '76',
 '77',
 '78',
 '79',
 '80',
 '81',
 '82',
 '83',
 '84',
 '85',
 '86',
 '87',
 '88',
 '89',
 '90',
 '91',
 '92',
 '93',
 '94',
 '95',
 '96',
 '97',
 '98',
 '99']


### create dictionary for squares of 1 to 10

In [40]:
squares={}
for each in range(1,11):
    squares[each]=each*each
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

### dictionary comprehension

In [42]:
{each:each*each for each in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [43]:
{each:each*each for each in range(1,11) if each%2==0}

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [46]:
{each:each*each if each%2==0  else each**3 for each in range(1,11)}

{1: 1, 2: 4, 3: 27, 4: 16, 5: 125, 6: 36, 7: 343, 8: 64, 9: 729, 10: 100}

In [52]:
names=['sai','ramu']
grades=['A','B']
students={}
for index in range(len(names)):
    name=names[index]
    grade=grades[index]
    students[name]=grade
print(students)

{'sai': 'A', 'ramu': 'B'}

In [58]:
names=['sai','ramu']
grades=['A','B']
for name,grade in zip(names,grades):
    print(name,grade)

sai A
ramu B

In [59]:
names=['sai','ramu']
grades=['A','B']
for item in zip(names,grades):
    print(item)

('sai', 'A')
('ramu', 'B')

In [60]:
names=['sai','ramu']
grades=['A','B']
{name:grade for name,grade in zip(names,grades)}

{'sai': 'A', 'ramu': 'B'}

## Anonymous function(keyword:lambda)

In [61]:
add=lambda x:'hi'

In [62]:
add(10)

'hi'

In [65]:
square=lambda x:x*x

In [66]:
square(4)

16

In [68]:
fun = lambda x:x[0]

In [69]:
a=[1,2,3,4]
fun(a)

1

In [70]:
a=10
fun(a)

TypeError: 'int' object is not subscriptable

In [72]:
fun = lambda x,y:x,y

NameError: name 'y' is not defined

In [73]:
fun = lambda x,y:(x,y)

In [74]:
fun(10,20)

(10, 20)

In [77]:
numbers=['10','30','60']
results=[]
for each in numbers:
    results.append(int(each))
results

[10, 30, 60]

### map(function,collection)

In [79]:
numbers=['10','30','60']
s=map(int,numbers)
list(s)

[10, 30, 60]

In [81]:
numbers=['10','30','60']
list(map(lambda x:int(x)+30,numbers))

[40, 60, 90]

### all()

In [82]:
marks=[10,20,30,40]
all(marks)

True

In [83]:
marks=[10,0,30,40]
all(marks)

False

In [84]:
bool(10)

True

### any()

In [85]:
any(marks)

True

### filter(function,collection)

In [87]:
marks=[20,30,40,0,80]
s=filter(None,marks)
list(s)

[20, 30, 40, 80]

In [90]:
students=[['sai',10],['sunny',30],['ramu',50]]
list(filter(lambda x:x[1]<=30,students))

[['sai', 10], ['sunny', 30]]