In [5]:
myList=[10,100,300,400]
myList.insert(0,myList.pop(3))

In [6]:
myList

[400, 10, 100, 300]

In [7]:
b=(1)
type(b)

int

In [8]:
b=(1,)
type(b)

tuple

In [9]:
d={'ram':100}
d['ram']+=20
d

{'ram': 120}

In [16]:
s='sai123ram345'
sum([int(i)  for i in s if i.isdigit()])

18

In [18]:
s='sai 123 ram 345'
s=s.replace(' ','')
s

'sai123ram345'

In [23]:
s='sai 123 ram 345'

sum([int(i) for i in s.split(' ') if i.isdigit()] )

468

In [36]:
s='sairam sailakshmi'
''.join([ each.upper() if(each=='s' or each=='i')  else each for each in s ])

'SaIram SaIlakShmI'

In [2]:
s={'name':'sai','branch':'cse'}
y=[print(key,value) for key,value in s.items()]

name sai
branch cse

In [8]:
s=['sai','surya''ramu','lakshmi','sri']
sum([len(i) for i in s])

22

In [19]:
import re

In [23]:
names=['sai','surya','laksmi','srinu','indira']
groups={'A':[],'B':[]}
for i in names:
    if(re.search('a',i)):
            groups['A'].append(i)
    else:
        groups['B'].append(i)
groups

{'A': ['sai', 'surya', 'laksmi', 'indira'], 'B': ['srinu']}

In [27]:
print(1,10,20,30)

1 10 20 30

In [28]:
print(1,10,20,30,sep='\n')

1
10
20
30

In [32]:
s=['abc','cab','xyd','bca']
s.sort(key=lambda x:x[2])
s

['bca', 'cab', 'abc', 'xyd']

### take the data everytime until user gives DONE  print minimum and maximum number

In [48]:

x=[]
while True:
    n=input()
    if(n.isdigit()):
        x.append(int(n))    
    if n=='DONE':
        break
if(len(x)>0):                   
    print(min(x),max(x))
else:
    print('user not given numbers')

233
JHDDJFHF
9090
334994
3
KKKK
DONE
3 334994

In [61]:
import re
s='sai123ram145'

sum(list(map(int,re.findall('1\d+',s))))

268

In [ ]:
a=0